@page "/"

<MudText Class="my-4" Typo="Typo.h4" Align="Align.Center">Speech Recognition</MudText>

<div class="d-flex justify-space-between">
    <div class="d-flex align-end">
        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles" MaximumFileCount="1" Disabled="_generating" Class="ma-0">
            <ButtonTemplate>
                <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.CloudUpload" for="@context">
                    Upload File
                </MudButton>
            </ButtonTemplate>
        </MudFileUpload>

        @if (_browserFile is not null)
        {
            <MudText Typo="@Typo.subtitle1" Class="ms-2">@_browserFile.Name</MudText>
        }
    </div>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Generate">
        @if (_generating)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
            <MudText Class="ms-2">Generating</MudText>
        }
        else
        {
            <MudText>Generate</MudText>
        }
    </MudButton>
</div>

<MudProgressLinear Color="Color.Primary" Size="Size.Large" Striped="true" Value="@_progressPercentage" Class="my-7">
    <MudText Typo="Typo.subtitle1" Color="Color.Dark">
        <b>@(_progressPercentage.ToString("0.00"))%</b>
    </MudText>
</MudProgressLinear>

<MudList Style="max-height: 400px; overflow-y: scroll">
    @foreach (var segment in _segments)
    {
        <MudListItem Icon="@Icons.Material.Filled.AudioFile">
            @segment
        </MudListItem>
    }
</MudList>
